@import "tailwindcss";

:root {
  --afs-red: #d71920;
  --afs-blue: #0b2c5f;
  --afs-dark: #111827;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111827;
}